html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.whatsapp-float {
    position: fixed !important;
    z-index: 9999 !important;
    bottom: 40px !important;
    right: 40px !important;
}

#backToTop {
    position: fixed !important;
    z-index: 9998 !important;
    bottom: 30px !important;
    left: 30px !important;
    width: 50px !important;
    height: 50px !important;
    background-color: var(--primary-color) !important;
    color: white !important;
    border: none !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    font-size: 18px !important;
}

.top-bar {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

.nav-line {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.hero-wrapper {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.hero-slider {
    width: 100%;
    max-width: 100%;
}

.hero-bg {
    width: 100%;
    max-width: 100%;
}

.slide {
    width: 100%;
}

.ticker-section,
.news-ticker,
.ticker-wrapper {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

.full-width-breakout {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.section-content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 64px;
    padding-right: 64px;
    box-sizing: border-box;
}

.welcome-container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 64px;
    padding-right: 64px;
    box-sizing: border-box;
}

@media (min-width: 1600px) {
    .section-content,
    .welcome-container {
        max-width: 1520px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .top-bar {
        padding-left: 80px;
        padding-right: 80px;
    }
    .navbar {
        padding-left: 80px;
        padding-right: 80px;
    }
    .footer {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (min-width: 1800px) {
    .section-content,
    .welcome-container {
        max-width: 1680px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .top-bar {
        padding-left: 100px;
        padding-right: 100px;
    }
    .navbar {
        padding-left: 100px;
        padding-right: 100px;
    }
    .footer {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (min-width: 2000px) {
    .section-content,
    .welcome-container {
        max-width: 1850px;
        padding-left: 120px;
        padding-right: 120px;
    }
    .top-bar {
        padding-left: 120px;
        padding-right: 120px;
    }
    .navbar {
        padding-left: 120px;
        padding-right: 120px;
    }
    .footer {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media (min-width: 2400px) {
    .section-content,
    .welcome-container {
        max-width: 2100px;
        padding-left: 150px;
        padding-right: 150px;
    }
    .top-bar {
        padding-left: 150px;
        padding-right: 150px;
    }
    .navbar {
        padding-left: 150px;
        padding-right: 150px;
    }
    .footer {
        padding-left: 150px;
        padding-right: 150px;
    }
}